<section class="container">
  <img src="logo/gob/svg/logo-no-background.svg" alt="logo" />
  <h2>Salta su!</h2>
  <p>entra nella community più <strong>hard </strong>di <strong>Catania</strong></p>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="name"></label>
      <input type="text" placeholder="Nome" />
    </p>
    <p>
      <label for="surname"></label>
      <input type="text" placeholder="Cognome" />
    </p>
    <p>
      <label for="email"></label>
      <input type="email" placeholder="Email" />
    </p>
    <p>
      <label for="password"></label>
      <input type="password" placeholder="Password">
    </p>
    <p class="actions">
      <button type="submit" id="submit-button">Registrati</button>
    </p>
  </form>
</section>
